@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.react-select-container .react-select__control {
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
  min-width: 250px;
}

.react-select-container .react-select__single-value {
  color: white;
}
